* {
    font-family: 'sans', sans-serif;
}

body {
    background-color: #587276;
}


.logo {
    margin-top: -75px;
}


.btn-primary {
    background-color: #cdcbcb;
    color: black; 
    min-width: 120px;
    border-color: #cdcbcb;
    font-size: 50%;

    
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #a9000c !important; 
    border-color: #a9000c !important;
}

.btn-primary:hover , .btn-primary:focus {
    background-color: #a9000c !important; 
    border-color: #a9000c !important;
    box-shadow: none !important;
}

.password {
    margin-top: 20px;
}
.dropdown-menu {
    size: 100px;
    padding: 15%;
    background-color: #cdcbcb ;

}
.connectpannel {
    background-color: #CDCDCD;
    border: 1px solid black;
    border-radius: 2px;
}
.buttonv {
    text-align: center;
    background-color: #A9000C;
    border-radius: 2px;
    border-color: #221F1F;
    color: white;
    border: none;
    min-width: 150%;
    align-items: center;
}
.connectLabel {
    text-align: center;
    background-color: #A9000C;
    border-radius: 2px;
    border-color: #221F1F;
    
    border: none;
}

.playlist-vid {
    border-color: black;
    border-style: solid;
    background-color: black;
}


.modal-header {
    background-color: #221F1F;
    
}

.signinLabel {
    background-color: #A9000C ;
    border: 1px black solid;

    
}

.modal-body {
    background-color: #cdcbcb !important;
    padding-left: 35px;
}

.form-control {
    border: 1px black solid;
}

.btnvalid, .btnreturn {
    border: 1px black solid;
    border-radius: 2em;
    min-width: 25em;
}
.btnvalid {
    background-color: #A9000C;
    
    
}

.btnreturn:hover {
    background-color: #A9000C;
    color: #cdcbcb !important;
}

.dropdown-menu {
    min-width: 30em;
}

.text-light {
    color: white !;
}
.btnvalid:hover {
    background-color: white !important;
    color: black !important;
}